body
{
    background: #F7F7F7;
}

.body-header
{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 565px;
}

.body-header__group
{
    width: 1440px;
    height: 500px;
    background: url("../image/img_page1/header_img.jpg") no-repeat;
    
}

.body-header__group__top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 270px;
}

.body-header__group__top__navigation
{
    width: 336px;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
}

.body-header__group__top__navigation__text
{
    font-family: 'Oxygen';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    text-decoration: none;
}

.body-header__group__title
{
    margin-top: 131px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.body-header__group__undertitle
{
    margin-top: 20px;
    margin-bottom: 31px;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.body-header__group__button
{
    display: block;
    margin: 0 auto;
    width: 167px;
    height: 44px;
    border-radius:3px;
    border-color: #DD783F;
    background: #DD783F;
    font-family: 'Oxygen';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    border-width: 0;
}

.body-header__bot
{
    width: 858px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 296px;
    padding-right: 286px;
    align-items: center;
    background: #FFFFFF;
}

.body-header__bot__text
{
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088;
    text-decoration: none;
}

.main-section
{

}

.main-section__header
{
    font-family: 'Oxygen';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.main-section__card1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../image/img_page1/main_card_1.png") no-repeat;
    width: 420px;
    height: 261px;
    padding: 0 20px 19px 20px;
}

.main-section__card2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../image/img_page1/main_card_2.png") no-repeat;
    width: 420px;
    height: 261px;
    padding: 0 20px 19px 20px;
}

.main-section__card1__name, .main-section__card2__name
{
    color: #FFFFFF;
    margin: 0;
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 6px;
    width: 204px;
    height: 30px;
}

.main-section__card1__desc, .main-section__card2__desc
{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Oxygen';
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 17px;
    width: 400px;
    height: 25px;
}

.main-section__card1__inf, .main-section__card2__inf
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section__card1__inf__av, .main-section__card2__inf__av
{
    display: flex;
    align-items: start;
    flex-basis: 20px;
}

.main-section__card1__inf__username, .main-section__card2__inf__username
{
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    align-items: self-start;
}

.main-section__card1__inf__date, .main-section__card2__inf__date
{
    color: rgba(255, 255, 255, 0.7);
}

.other-section__card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 296px;
    height: 291px;
    background: #FFFFFF;
    
}

.other-section__card__img
{
    width: 296px;
    height: 150px;
}

.other-section__card__name
{
   margin: 14px 0px 6px 0px;
   /* padding-top: 12px; */
   padding-left: 13px;
   /* padding-bottom: 6px; */
   width: 133px;
   height: 21px;
   font-family: 'Lora';
   font-size: 16px;
   font-weight: 400;
   color: #101315;
}

.other-section__card__desc
{
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding-left: 13px;
    width: 255px;
    height: 19px;
    font-family: 'Oxygen';
    font-size: 13px;
    font-weight: 400;
    color: #7A7A7A;
}

.other-section__card___inf
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FCFCFC;
    width: 270px;
    height: 48px;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 1px solid #EFEFEF
}

.other-section__card___inf__av
{

}

.other-section__card___inf__name
{
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
    font-family: 'Oxygen';
    font-size: 11px;
    font-weight: 400;
    color: #999999;
}

.other-section__card___date
{
    font-family: 'Oxygen';
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.body-bottom
{
    width: 1440px;
    height: 89px;
    background: url("../image/img_page1/footer_img.jpg") no-repeat;;
}

.body-bottom__group
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 270px;
}

.body-bottom__group__navigation__text
{
    font-family: 'Oxygen';
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
}