body
{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}

.header
{
    display: flex;
    background: url("../image/img_page1/header_img.jpg") no-repeat;
    flex-direction: column;
    padding-bottom: 160px;
    background-size: cover;
    align-items: center;
    flex-wrap: wrap;
}

.menu__img
{
   height: 26px;
   width: 92px;
   display: flex;
   align-items: start;
}

.header__menu
{
    flex-direction: row;
    padding-top: 20px;
    max-width: 920px;
}

.menu 
{
    display: flex;
    flex-wrap: wrap;
    min-width: 78px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navigation__items
{
    font-family: 'Oxygen';
    flex-grow: 0;
    padding: 0 0 0 20px;
}

.navigation__items_header
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__title
{
    margin-top: 131px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header__undertitle
{
    margin-top: 20px;
    margin-bottom: 31px;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.header__button
{
    display: block;
    margin: 0 auto;
    width: 167px;
    height: 44px;
    border-radius:3px;
    border-color: #DD783F;
    background: #DD783F;
    font-family: 'Oxygen';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    border-width: 0;
}

.topic-background
{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 0 60px 0;
}

.topic
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 65px;
    max-width: 960px;
    width: 100%;
    padding: 0 20px 0 20px;
    justify-content: space-around;
    align-items: center;
}

.topic__items
{
    justify-content: center;
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088;
    text-decoration: none;
    margin: 0 20px 0 20px;
}

.main-section 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.main-section__title, .other-section__header, .footer-title
{
    display: flex;
    font-family: 'Oxygen';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
    width: 100%;
    margin: 0;
    position: relative;
    padding: 0 0 40px 0;
    justify-content: center;
}

.main-section__title::before, .other-section__header::before, .footer-main__title::before
{
    position: absolute;
    content: url(../image/img_page1/underline.svg);
    margin-top: 24px;
}

.card1 
{
    background: url("../image/img_page1/main_card_1.png") no-repeat;
}

.card2
{
    background: url("../image/img_page1/main_card_2.png") no-repeat;
}

.main-card
{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 420px;
    height: 261px;
    padding: 0 20px 19px 20px;
    margin: 0 10px 0 10px;
}

.main-card__name
{
    color: #FFFFFF;
    margin: 0;
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 6px;
    width: 204px;
    height: 30px;
}

.bot-info-color
{
    color: rgba(255, 255, 255, 0.7);
}

.main-card__desc
{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Oxygen';
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 17px;
    width: 400px;
    height: 25px;
}

.card-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info__avatar
{
    display: flex;
    align-items: start;
    flex-basis: 20px;
}

.card-info__username
{
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
    align-items: self-start;
}

.other-section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 960px;
    align-self: center;
    justify-content: center;
}

.other-card
{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 296px;
    height: 291px;
    background: #FFFFFF;
    margin: 0 12px 25px 12px;
    justify-content: center;

}

.other-card__img
{
    width: 296px;
    height: 150px;
}

.other-card__name
{
    margin: 14px 0px 6px 0px;
    padding-left: 13px;
    width: 133px;
    height: 21px;
    font-family: 'Lora';
    font-size: 16px;
    font-weight: 400;
    color: #101315;
}

.other-card__desc
{
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding-left: 13px;
    width: 255px;
    height: 19px;
    font-family: 'Oxygen';
    font-size: 13px;
    font-weight: 400;
    color: #7A7A7A;
}

.card-info-other
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FCFCFC;
    width: 270px;
    height: 48px;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 1px solid #EFEFEF
}

.card-info-other__username
{
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
    font-family: 'Oxygen';
    font-size: 11px;
    font-weight: 400;
    color: #999999;
}

.card-info-other__date
{
    font-family: 'Oxygen';
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.footer 
{
    height: 378px;
    display: flex;
    background: url("../image/img_page1/footer_main.png") no-repeat;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-menu-background
{
    display: flex;
    background-color: #232F3899;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer__menu
{
    flex-direction: row;
    max-width: 920px;
    height: 89px;

}

.navigation__items_footer
{
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF99;
    text-decoration: none;
}

.form
{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 0 90px 0;
    align-items: baseline;
}    

.form__input
{
    height: 50px;
    width: 375px;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 14.06px;
    padding-left: 35px;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    border-width: 0;

}

.form__button
{
    width: 125px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    color: #fff;
}