    @font-face {
  font-family: 'Lora';
  src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}


.head_pict{
  background: url(img/background_header.jpeg);
  width: 1440px;
  height: 500px;
}

.main_note{
  font-family: 'Lora';
  color: white;
}

button{
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #DD783F;
  border-radius: 3px;
}
